{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
    <div class="list1" align="center">

        <p>タイトル：{{object.title}}</p>
        <p>投稿者：{{object.user}}</p>
        <p>コメント：{{object.content}}</p>
        {% if object.image %}
        <p><img src="{{ object.image.url }}" alt="投稿画像"></p>
        {% else %}
        <p></p>
        {% endif %}

         {% if request.user in object.like.all %}
        <a href="{% url 'like-detail' object.pk %}">👍</a>{{ object.like.count }}
        {% else %}
        <a href="{% url 'like-detail' object.pk %}">👍</a>{{ object.like.count }}
        {% endif %}

        {% if request.user in object.dislike.all %}
        <a href="{% url 'dislike-detail' object.pk %}">👎</a>{{object.dislike.count}}
        {% else %}
        <a href="{% url 'dislike-detail' object.pk %}">👎</a>{{object.dislike.count}}
        {% endif %}

        {% if object.user != request.user %}
        {% if object.user in connection.0.following.all %}
        <a href="{% url 'follow-detail' object.pk %}">フォロー解除</a>
        {% else %}
        <a href="{% url 'follow-detail' object.pk %}">フォロー</a>
        {% endif %}
        {% endif %}

        {% if object.user == request.user %}
        <div >
            <a href="{% url 'update' object.pk %}">編集</a>
        </div>
        <div >
            <a href="{% url 'delete' object.pk %}">削除</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}