{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}

{% if show_search_form %}
<div align="center">
    <form method="GET" action="{% url 'home' %}">
        {% csrf_token %}
        {{ search_form.as_p }}
        <button type="submit">検索</button>
    </form>
</div>
{% endif %}


<div>
    {% for item in object_list %}
    <hr>
    <div align="center">
        <p>タイトル：<a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
        <p>投稿者：{{ item.user.username }}</p>

        {% if request.user in item.like.all %}
        <a href="{% url 'like-home' item.pk %}">❤</a>{{ item.like.count }}
        {% else %}
        <a href="{% url 'like-home' item.pk %}">❤</a>{{ item.like.count }}
        {% endif %}

        {% if request.user in item.like.all %}
        <a href="{% url 'like-home' item.pk %}">君、きしょいね！</a>{{ item.like.count }}
        {% else %}
        <a href="{% url 'like-home' item.pk %}">君、きしょいね！</a>{{ item.like.count }}
        {% endif %}

        {% if item.user in connection.0.following.all %}
        <a href="{% url 'follow-home' item.pk %}">フォロー解除</a>
        {% else %}
        <a href="{% url 'follow-home' item.pk %}">フォロー</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock content %}
